# Include Extensions.
*.xml
*.conf
*.log
*.db
*.txt
*.sqlite

# Exclude these extensions.
!*.yaml
!.gitignore
!*.md

# Include these folders.
.storage
.cloud
.google.token
.HA_VERSION
.uuid
www/*
tts
deps
.vscode
*/__pycache__/*

# Include these files.
ip_bans.yaml
secrets.yaml
known_devices.yaml
google_calendars.yaml
home-assistant_v2.db-shm
home-assistant_v2.db-wal

# Exclude these folders and sub-folders
!www/community
